/* Horizontal Navigation Bar */
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 75px;
}

ul {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #191516ff;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #2e2a2bff;
}

.active {
  background-color: #00b295ff;
}

#title_text {
  color: white;
  margin: 0;
  margin-top: 13px;
}

/* Main Body */
#main_body {
  padding: 0px;
  margin: 0px;
}

/* Page Title */
#center_title {
  width: 100%;
  margin-top: 49px;
  background-color: #00b295ff;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center
}

/* Centered Horizontal Lists */
ul.horz_list {
  list-style: none;
  padding-top: 10%;
  background-color: transparent;
  text-align: center;
  position: static
}

ul.horz_list li {
  display: inline-block;
  float: none;
  padding-inline: 5%;
  position: static;
}

.table {
  display: table;
  float: left;
  position: static;
  width: 100%;
}

.logo_img {
  height: 100px;
}

li a.contact_hover:hover {
  background-color: #f6f6f6;
}

/* Project Page Dividers */
.project-container {
  padding: 1px;
  text-align: center;
  margin: 1px;
  overflow: auto;
}

.project-container:nth-child(even) {
  background-color: #e0e0e0;
}

.image_box {
  width: 15%;
  float: left;
  padding: 20px;
  margin: 1px;
  border: 2px solid red;
  background-color: inherit;
}

.text_box {
  text-align: left;
  width: 75%;
  float: left;
  padding: 20px;
  margin: 1px;
  border: 2px solid red;
  background-color: inherit;
}

.text_box p{
  font-size: 20px;
}

.image_box img {
  width: 140px;
}

/* Hidden Text */
#moreText {
  /* Display nothing for the element */
  display: none;
}